/*
 *  this file is part of startpage
 *  Copyright (C) 2019 contact@t3Y.eu
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


html {
    height: 100%;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: black;
    color: #073642;
    background-image: url("img/background.jpeg");
    /*background-image: url("https://picsum.photos/1920/1080");*/
    background-size: cover;
}

#container {
    margin-top: 3em;
    text-align: center;

}

#notification {
    color: grey;
    position: fixed;
    bottom: 0em;
    left: 0.5em;
    font-size: large;
    font-family: monospace;
}

#searchbar {
    color: #070707;
    background-color: #ececec;
    box-sizing: border-box;
    width: 60%;
    border: 1px solid grey;
    border-radius: 0px;
    margin: 0.1em 0 0.1em 0;
}

#helppage td {
    padding-right: 0.3em;
    vertical-align: top;
}

#vidBackground {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#canvasBackground {
    position: absolute;
    display: block;
    background-color: #1f2430;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: -1;
}

.textbox {
    box-sizing: border-box;
    text-align: left;
    width: 60%;
    margin: 0 auto 0.1em auto;
    background-color: #ececec;
    border: 1px solid grey;
    padding: 0em 0.5em 0.5em 0.5em;
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;
    overflow-x: hidden;
}

.textbox h3 {
    text-align: center;
}

.noteElement {
    margin-bottom: 0.2em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid grey;
}

.dateId {
    font-size: small;
    font-style: italic;
}

.mono {
    font-family: monospace;
}
